<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlfd.api.user.UserMapper">

    <select id="getUser" resultType="com.xlfd.domain.user.User" parameterType="java.lang.String">
        SELECT * FROM user where id = #{id}
    </select>

</mapper>